@model ClothingPro.BusinessLayer.DTO.CompanyDTO

<div class="modal-dialog  modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <label style="font-size:medium;"><b>Company Entry</b></label>
            <span class="close" id="closeMember" data-dismiss="modal" aria-hidden="true">&times;</span>
        </div>
        <form id="CreateOutletform">
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="alert badge-danger"></div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Company Name</label>
                        <input type="hidden" asp-for="CompanyId" value="@Model.CompanyId" />
                        <input type="text" class="form-control required" asp-for="CompanyName" value="@Model.CompanyName" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Contact No</label>
                        <input type="text" class="form-control" asp-for="ContactNo" value="@Model.ContactNo" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Company Email</label>
                        <input type="text" class="form-control" asp-for="CompanyEmail" value="@Model.CompanyEmail" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Slogan 1</label>
                        <input type="text" class="form-control" asp-for="Slogan1" value="@Model.Slogan1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Slogan 1</label>
                        <input type="text" class="form-control" asp-for="Slogan2" value="@Model.Slogan2" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Slogan 1</label>
                        <input type="text" class="form-control" asp-for="Slogan3" value="@Model.Slogan3" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="SubmitCompanyButton" value="Save" class="btn btn-primary" onclick="saveCompanyDetail();">Save</button>
                <a data-dismiss="modal" class="btn  btn-default">Back</a>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/stock.js"></script>

<script>

</script>


